<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
    <div class="container">
        <div class="row mt-5">
            <h1>Home Page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptate, vel possimus obcaecati impedit est, delectus iste sunt rerum molestiae inventore cum quasi reprehenderit consequuntur, ut beatae nostrum incidunt magnam repellat ducimus culpa libero optio?</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
   